{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}

{% block content %}
    <form method="post" class="main">
        <h3>Enter a Chat Room</h3>
        <div>
            <input type="text" name="name" placeholder="Enter a name" value="{{name}}">
        </div>
        <div class="join">
            <input type="text" name="code" placeholder="Enter a room code" value="{{code}}">
            <button type="submit" name="join" class="join">Join Room</button>
        </div>
        <button type="submit" name="create" class="create-btn">Create Room</button>
        {% if error %}
            <h4>{{error}}</h4>
        {% endif %}
    </form>
{% endblock %}